:root[class*='app-alpha'] {
    // Background color
    --p-surface-base: #ffffff;
    --p-surface-ground: #f2f2f2;
    --p-surface-dark: #404040;
    --p-surface-overlay: #3e3e3e;
    --p-surface-highlight: #f0faff;

    --surface-hover: var(--p-surface-ground) !important;

    // Icon colors
    --p-font-light: #ffffff;
}
