// Variables de uso general para layout
$topbar-height: 45px;
$topbar-padding: 0.5rem;
$sidebar-width: 250px;
$footer-height: 120px;
$main-content-margin-sides: 2rem;
$main-content-margin-bottom: 2rem;

body {
    height: 100vh;
}

#main-site {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: $topbar-height 1fr;
    min-height: 100vh;
    background-color: var(--p-surface-dark);

    grid-template-areas:
        'topbar'
        'lower';

    &.sidebar-closed {
        #main-content {
            border-radius: 16px 16px;
            margin-left: $main-content-margin-sides;
        }

        #sidebar {
            width: 0;
            transform: translateX(-100%);
            overflow: hidden;
        }
    }

    &.outside-home {
        #lower-right-container {
            // grid-template-rows: 1fr;

            #main-content {
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
            }
        }

        #footer {
            // display: none;

            height: 0;
            opacity: 0;
        }
    }
}

#main-content {
    border-radius: 0 16px 16px 0;
    margin-right: $main-content-margin-sides;
    padding: 1.5rem;
    transition: border-radius 0.9s ease;
}

#topbar {
    grid-area: topbar;
    padding: $topbar-padding;
    position: sticky;
    top: 0;
    background-color: var(--p-surface-dark);
}

#layout-lower-container {
    grid-area: lower;
    display: flex;
}

#sidebar {
    background-color: var(--p-surface-dark);
    width: $sidebar-width;
    overflow: hidden;
    transition: transform 0.5s ease, width 0.7s ease;
    display: grid;
    grid-template-rows: 1fr 100px;
    text-wrap: nowrap;

    position: sticky;
    top: $topbar-height;
    height: calc(100vh - $topbar-height);
}

#lower-right-container {
    flex: 1;
    display: grid;
    grid-template-rows: 1fr auto;
}

#main-content {
    background-color: var(--p-surface-ground);
}

#footer {
    height: $footer-height;
    position: sticky;
    bottom: 0;
    background-color: var(--p-surface-dark);

    transition: height 0.7s ease, opacity 0.7s ease;
    overflow: hidden;
    opacity: 1;
}

@media (max-width: 640px) {
    #main-site {
        &.outside-home {
            #lower-right-container {
                #main-content {
                    border-bottom-left-radius: 0;
                    border-bottom-right-radius: 0;
                    margin-bottom: 0;
                }
            }
        }
    }

    #lower-right-container {
        grid-template-rows: 1fr;
    }

    #main-content {
        margin-bottom: $main-content-margin-bottom;
        border-top-left-radius: 16px;
        border-bottom-left-radius: 16px;
        margin-left: 1rem;
    }

    #sidebar {
        grid-template-rows: 1fr;
        position: absolute;
        height: calc(100vh - $topbar-height);
        z-index: 99; // El loading tiene z-index de 9999
        // todo: agregar la sombra trasera

        #sidebar-footer {
            display: none;
        }
    }

    #footer {
        display: none;
    }
}
